* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

.App {
  background: #c9c3c3;
  padding-bottom: 80px;
}

/* Header */

header {
  width: 100%;
  background: #fff;
}

.header {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
}

.header .logoAndTitle {
  display: flex;
  align-items: center;
  gap: 25px;
}

.header .logoAndTitle .logo {
  font-size: 40px;
}

/* .header .logoAndTitle .title {
  background: red;
} */

ul {
  display: flex;
  align-items: center;
  gap: 40px;
}

ul li {
  list-style-type: none;
  font-size: 14px;
}

/* /header*/

/* Banner */

.banner {
  display: flex;
  height: 68vh;
}

.banner .img {
  /* width: 4000px; */
  width: 78vw;
}

.banner .details {
  width: 22vw;
  padding: 30px 10px 10px 30px;
  background: #ea474c;
}

.banner .details .chaild {
  margin-bottom: 15px;
  color: #fff;
}

.button {
  padding: 10px 20px;
  font-size: 15px;
  border: none;
  border-radius: 4px;
  background: #fff;
}

.button i {
  position: relative;
  top: 1.3px;
  margin-left: 10px;
}

/* /Banner */

section {
  width: 90%;
  margin: auto;
}

/* Recipes */

.our-recipes .header {
  margin: 30px 0 20px 0;
  font-size: 30px;
  font-weight: normal;
}

.our-recipes .filter {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
}

.our-recipes .filter .filter-items {
  width: 320px;
  padding: 15px 7px;
  display: flex;
  align-items: center;
  gap: 100px;
  color: #fff;
  background: #ea474c;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
 
.our-recipes .filter .filter-items .OC-btn {
  position: relative;
  top: -5px;
  content: "";
  width: 15px;
  cursor: pointer;
}

/* .our-recipes .filter .filter-items .OC-btn::before {
  content: "";
  width: 50px;
} */

.our-recipes .filter .filter-items h5 {
  width: 125px;
}

.form-selectAndSearch {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
}

.form-select {
  padding: 7px 10px;
  margin-left: 10px;
  border-radius: 5px;
}

.form-selectAndSearch .search-recipes {
  margin-right: -66px;
}

.form-selectAndSearch .search-recipes input {
  width: 65%;
  padding: 8px 10px 8px 40px;
  border: none;
  background: #c9c3c3;
}

.form-selectAndSearch .search-recipes label {
  position: relative;
  top: 2px;
  left: 25px;
  cursor: pointer;
}

.filter-types {
  display: flex;
  align-items: center;
  background: #ea474c;
  padding: 15px 15px;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

.filter-types h5 {
  color: #fff;
  font-weight: normal;
  font-size: 16px;
  margin-bottom: 5px;
}

.filter-types .type-options {
  width: 240px;
  display: flex;
  justify-content: space-between;
  /* gap: 20px; */
}

.filter-types .form-group {
  margin: 5px 0;
}

.filter-types .form-group input {
  display: none;
  cursor: pointer;
}
.filter-types .form-group label {
  position: relative;
  cursor: pointer;
  color: #fff;
}

.filter-types .form-group label:before {
  content: "";
  /* background-color: transparent; */
  border: none;
  padding: 10px;
  display: inline-block;
  background: #fff;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 50%;
  margin-right: 5px;
}

.filter-types .form-group input:checked + label:after {
  content: "";
  display: block;
  position: absolute;
  top: 5px;
  left: 7px;
  width: 6px;
  height: 10px;
  border: solid black;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.filter-types .Nataionality {
  width: 60%;
  margin-left: 30px;
  /* padding-left: 10%; */
}

.filter-types .Nataionality .Nataionality-types {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* /Recipes*/

/* Recipes List */

.recipes-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5%;
  margin-top: 50px;
}

.recipes-list .list-item {
  width: 23.87%;
  margin-bottom: 1.5%;
  border-radius: 3px;
}

.recipes-list .list-item .listItem-setup {
  padding: 15px 10px 25px 10px;
  background: #fff;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.recipes-list .list-item .dateAndNation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.recipes-list .list-item h3 {
  height: 11vh;
  /* margin-bottom: 20px; */
  font-size: 20px;
}

.recipes-list .list-item img {
  width: 100%;
}

/* /Recipes List */

/* Send Form */

.sendForm {
  background: #ea474c;
  width: 100%;
  padding: 40px 0 20px 0;
  margin-top: 20px;
}

.sendForm .form {
  width: 90%;
  margin: auto;
}

.sendForm .form h1 {
  color: #fff;
  margin-bottom: 20px;
}

.sendForm .form p {
  width: 400px;
  color: #fff;
}

.sendForm .form .sendingData-types {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sendForm .form .sendingData-types .userData  {
  display: flex;
  /* align-items: center; */
  gap: 3%;
  padding: 20px 0;
}

.sendForm .form .sendingData-types button {
  margin-right: 80px;
}

.sendForm .form .form-group {
  display: flex;
  flex-direction: column;
}

.sendForm .form label {
  color: #fff;
}

.sendForm .form input {
  padding: 15px 110px 15px 20px;
  border-radius: 4px;
  margin: 5px 0;
  border: none;
}

.sendForm .form .sendingData-types .button {
  padding: 5px 20px;
  position: relative;
  top: 10px;
  background: #ea474c;
  border: none;
  color: #fff;
}

.sendForm .form .sendingData-types .button i {
  margin-right: 20px;
}

.sendForm .form .add-friend {
  margin-top: 25px;
  padding: 10px 20px;
  border: 1px solid #fff;
  background: #ea474c;
  border-radius: 4px;
}

.sendForm .form .send-btn {
  display: flex;
  justify-content: center;
}

.sendForm .form .send-btn button {
  padding: 10px 30px;
}

.sendForm .form .send-btn button i{
  position: relative;
  top: 3.5px;
}

/* /SendForm*/

/* Footetr */

footer {
  width: 90%;
  margin: 50px auto 10px auto;
}

footer .about-grilled {
  display: flex;
  justify-content: space-between;
  gap: 7%;
}

.about-grilled .grilled-details {
  width: 90%;
  display: flex;
  gap: 1%;
}

.about-grilled .grilled-details div {
  width: 25%;
}

.about-grilled .grilled-info {
  width: 30%;
}

.about-grilled h4 {
  margin-bottom: 20px;
}

h4 + p {
  margin-bottom: 20px;
}

a {
  text-decoration: none;
  color: red;
}

a + p {
  margin-top: 20px;
}

/* /Footer */

/* Responsive */

@media screen and (max-width: 1200px) {
  .banner .details h1 {
    font-size: 20px;
  }
  .banner .details p {
    font-size: 13px;
  }

  .filter-types .type-options {
    width: 235px;
  }

  .sendForm .form .sendingData-types {
    gap: 2%;
  }
}

@media screen and (max-width: 1024px) {
  .filter-types .type-options {
    width: 225px;
  }
  .sendForm .form input {
    padding: 13px 20px 13px 20px;
  }

}

/* @media screen and (max-width: 768px) {

  .button {
    padding: 8px 5px;
  }

  .button i {
    top: 3px;
  }

  .our-recipes .filter .filter-items {
  width: 329px;
  }
  .filter-types .type-options {
    width: 210px;
  }

  .sendForm .form .sendingData-types .userData {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px 0;
  }
  .sendForm .form .sendingData-types .form-group input {
    padding: 10px 120px 10px  10px;
  }

} */
